* {
  border:        none;
  border-radius: 0;
  font-family:   Sans;
  font-size:     20px;
  box-shadow:    none;
  text-shadow:   none;
  transition-duration: 0s;
}

window {
  color: #d7d8d8;
  background: rgba(0, 0, 0, 0.5);
}

#workspaces button {
  padding: 5px;
  margin-right: 5px;

}
#workspaces button.active {
  /*border-style: ridge; */
  border-width: 1px;
  background:  #2e8bc0;
}

#workspaces button.focused {
  color: #ffffff;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}

#workspaces button:hover {
  color: #cdd6f4;

}

#network, #pulseaudio {
  margin:     0px 6px 0px 10px;
  min-width:  25px;
}

#clock {
  margin:     0px 16px 0px 10px;
  min-width:  140px;
}
